<h1>Activity 1: PALMER PENGUINS DATA ANALYTICS PROJECT</h1>
<hr>
<h2>Analyst : Elysalyn Barlan</h2>

In [1]:
#import libraries
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

<h2>Converting Dataset (s) into DataFrame</h2>
<h3>Requirements</h3>
<ul>
    <li>
        Name of DataFrame
    </li>
    <li>
        File Path
    </li>    
</ul>

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

<h2>FILLING UP NULL VALUES</h2>

In [7]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [8]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [9]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [10]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [11]:
penguins['bill_depth_mm'].mean()

np.float64(17.151169590643274)

In [12]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [13]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [14]:
penguins['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [15]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [16]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [17]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [18]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [19]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [20]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [21]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [22]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h2>CHANGING THE DATA TYPE</h2>

In [23]:
penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')
penguins['island'] = penguins['island'].astype('category')

In [24]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
dtypes: category(4), float64(4)
memory usage: 12.7 KB

<h2>CREATING COLUMN</h2>

In [25]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [26]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000, 1)

In [27]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h1> EXPLANATORY DATA ANALYSIS (EDA)</h1>
<hr>
<h2>Question 1 </h2>
<h3>Which species has the shorter flipper length?</h3>

In [28]:
penguins['flipper_length_mm'].min()

np.float64(172.0)

In [29]:
penguins[penguins['flipper_length_mm'] == 172.0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007,3.2

<h4>INSIGHT : Among all the species, Adelie penguins have the shortest flipper lenght about 172 mm.</h4>

<hr>
<h1>Question 2</h1>

<h3>Which island has the highest population of Gentoo penguins?</h3>

In [30]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [31]:
Biscoe_il = penguins[(penguins['island'] == 'Biscoe') & (penguins['species'] == 'Gentoo')]

Dream_il = penguins[(penguins['island'] == 'Dream') & (penguins['species'] == 'Gentoo')]

Torgersen_il = penguins[(penguins['island'] == 'Torgersen ') & (penguins['species'] == 'Gentoo')]

In [32]:
Biscoe_il.info()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 152 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            124 non-null    category
 1   island             124 non-null    category
 2   bill_length_mm     124 non-null    float64
 3   bill_depth_mm      124 non-null    float64
 4   flipper_length_mm  124 non-null    float64
 5   body_mass_g        124 non-null    float64
 6   sex                124 non-null    category
 7   year               124 non-null    category
 8   mass_kg            124 non-null    float64
dtypes: category(4), float64(5)
memory usage: 6.8 KB

In [33]:
Dream_il.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            0 non-null      category
 1   island             0 non-null      category
 2   bill_length_mm     0 non-null      float64
 3   bill_depth_mm      0 non-null      float64
 4   flipper_length_mm  0 non-null      float64
 5   body_mass_g        0 non-null      float64
 6   sex                0 non-null      category
 7   year               0 non-null      category
 8   mass_kg            0 non-null      float64
dtypes: category(4), float64(5)
memory usage: 520.0 bytes

In [34]:
Torgersen_il.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            0 non-null      category
 1   island             0 non-null      category
 2   bill_length_mm     0 non-null      float64
 3   bill_depth_mm      0 non-null      float64
 4   flipper_length_mm  0 non-null      float64
 5   body_mass_g        0 non-null      float64
 6   sex                0 non-null      category
 7   year               0 non-null      category
 8   mass_kg            0 non-null      float64
dtypes: category(4), float64(5)
memory usage: 520.0 bytes

<h4>INSIGHT : As shown in the results above, Biscoe Island is the only location where the Gentoo species has been recorded, with a total of 124 penguins. </h4>

<hr>
<h1>Question 3</h1>

<h3>How many male penguins are found on Torgersen Island?</h3>

In [35]:
((penguins['island'] == 'Torgersen') & (penguins['sex'] == 'male')).sum()

np.int64(28)

<h4>INSIGHT : A total of 28 male penguins have been recorded on Torgersen Island, based on the available dataset.</h4>

<hr>
<h1>Question 4</h1>

<h3>What is the highest bill depth measurement recorded among Adelie penguins?</h3>

In [36]:
adelie_penguins = penguins[penguins['species'] == 'Adelie']

In [37]:
adelie_penguins['bill_depth_mm'].max()

np.float64(21.5)

In [38]:
penguins[penguins['bill_depth_mm'] == 21.5]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007,4.2

<h5>INSIGHT : Among all Adelie penguins, the highest recorded bill depth is 21.5 mm. This measurement was observed in a male penguin located on Torgersen Island.</h5>

<hr>
<h1>Question 5</h1>

<h3>How many Chinstrap penguins have a bill length below 50 mm?</h3>

In [39]:
length_chinstrap = penguins[(penguins['species'] == 'Chinstrap') & (penguins['bill_length_mm'] <= 50)]

In [40]:
length_chinstrap.value_counts().sum()

np.int64(38)

<h4>INSIGHT : There are 38 Chinstrap penguins with bill lengths shorter than 50 mm. This means their bill sizes can vary quite a bit within the species.</h4>

<hr>
<h1>Question 6</h1>

<h3>Among all penguin species, which one has the greatest bill length?</h3>

In [41]:
penguins['bill_length_mm'].max()

np.float64(59.6)

In [42]:
penguins[penguins['bill_length_mm'] == 59.6]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007,6.0

<h4>INSIGHT : As we can see, the Gentoo penguin (no. 185), found in Biscoe and identified as male, has the longest bill length among all recorded penguin species.</h4>

<hr>
<h1>Question 7</h1>

<h3>Among Adelie penguins found on Dream Island, how many have flipper lengths over 200?</h3>

In [43]:
Adelie_flipper= penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream') & (penguins['flipper_length_mm'] > 200)]

In [44]:
Adelie_flipper

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
90,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008,3.6
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008,4.3
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008,4.3
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

<h4>INSIGHT : The dataset shows that four Adelie penguins located on Dream Island have flipper lengths above 200 mm, three are male, and one female.</h4>

<hr>
<h1>Question 8</h1>

<h3> Among all penguin species, which one has the highest average body mass for males?</h3>

In [47]:
average_body_mass = penguins[penguins['sex'] == 'male'].groupby(['species'])['body_mass_g'].mean()

In [48]:
average_body_mass

species
Adelie       4013.629802
Chinstrap    3938.970588
Gentoo       5411.011430
Name: body_mass_g, dtype: float64

<h4>INSIGHTS : As shown in the results above, the species with the highest average body mass for males is the Gentoo penguins.</h4>

<hr>
<h1>Question 9</h1>

<h3>What is the average bill depth of penguins recorded in each year in Dream island?</h3>

In [56]:
dream_bill_depth_per_year = penguins[penguins['island'] == 'Dream'].groupby(['year'])['bill_depth_mm'].mean()

In [51]:
dream_bill_depth_per_year

year
2007    18.573913
2008    18.397059
2009    18.063636
Name: bill_depth_mm, dtype: float64

<h4>INSIGHTS : The average bill depth of penguins in Dream Island showed a gradual decline over the three-year period. From 18.57 mm in 2007 to 18.06 mm in 2009.</h4>

<hr>
<h1>Question 10</h1>

<h3>In Torgersen island how many penguins have the flipper length below 180mm?</h3>

In [52]:
flipper_length = penguins[(penguins["island"] == "Torgersen") & (penguins["flipper_length_mm"] < 180)]

In [53]:
flipper_length

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009,3.4

<h4>INSIGHTS : On Torgersen Island, this penguin has a flipper length of 176.0 mm, which is below the 180 mm. This tells us that not all Adelie penguins have long flippers.</h4>

<hr>
<h1>Question 11</h1>

<h3>How many penguins of each species were recorded in each year?</h3>

In [54]:
species_year_counts = penguins.groupby(["species", "year"]).size()

In [55]:
species_year_counts

species    year
Adelie     2007    50
           2008    50
           2009    52
Chinstrap  2007    26
           2008    18
           2009    24
Gentoo     2007    34
           2008    46
           2009    44
dtype: int64

<h4>INSIGHTS : From 2007 to 2009, Adelie penguins were recorded the most each year, with their numbers slowly incringeas. Chinstrap penguins dropped in 2008 then increased again in year 2009, while Gentoo penguins had their highest count in 2008.</h4>

<hr>
<h1>Question 12</h1>

<h3>In year 2009 how many penguins in Biscoe island have the bill depth below 40mm?</h3>

In [69]:
biscoe_low_bill_depth = penguins[(penguins["island"] == "Biscoe") & (penguins["year"] == 2009) & (penguins["bill_depth_mm"] <= 40)].value_counts()

biscoe_low_bill_depth

<h4>INSIGHTS : In 2009, there were 60 penguins on Biscoe Island with bill depths under 40 mm, 44 were Gentoo and 16 were Adelie. That means most of the slim-billed penguins were Gentoo, showing they probably have naturally shallower bills than Adelies.</h4>

<hr>
<h1>Question 13</h1>

<h3>How many female penguins were recorded on each island in each year?</h3>

In [72]:
female_penguins = penguins[penguins['sex'] == 'female'].groupby(['island', 'year']).size()

In [73]:
female_penguins

island     year
Biscoe     2007    21
           2008    31
           2009    28
Dream      2007    22
           2008    17
           2009    22
Torgersen  2007     8
           2008     8
           2009     8
dtype: int64

<h4>INSIGHTS : Biscoe Island had the highest number of recorded female penguins each year, increased in 2008 with 31 females. Torgersen Island showed a steady count of 8 females, while Dream Island’s numbers dropped in 2008 before returning to 22 in 2009.</h4>