<h1>Activity 1: PALMER PENGUINS DATA ANALYTICS PROJECT</h1>
<hr>

In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [5]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000, 1)

In [6]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1>Q1</h1>

<h3> which species has the lower flipper length?</h3>

In [7]:
penguins['flipper_length_mm'].min()

np.float64(172.0)

In [8]:
penguins[penguins['flipper_length_mm'] == 172.0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007,3.2

<h1>Q2</h1>

<h3> in which island has the most gentoo specie?</h3>

In [9]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [10]:
Biscoe_il = penguins[(penguins['island'] == 'Biscoe') & (penguins['species'] == 'Gentoo')]

In [11]:
Biscoe_il.info()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 152 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            124 non-null    object
 1   island             124 non-null    object
 2   bill_length_mm     123 non-null    float64
 3   bill_depth_mm      123 non-null    float64
 4   flipper_length_mm  123 non-null    float64
 5   body_mass_g        123 non-null    float64
 6   sex                119 non-null    object
 7   year               124 non-null    int64
 8   mass_kg            123 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 9.7+ KB

In [12]:
Dream_il = penguins[(penguins['island'] == 'Dream') & (penguins['species'] == 'Gentoo')]

In [13]:
Dream_il.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            0 non-null      object
 1   island             0 non-null      object
 2   bill_length_mm     0 non-null      float64
 3   bill_depth_mm      0 non-null      float64
 4   flipper_length_mm  0 non-null      float64
 5   body_mass_g        0 non-null      float64
 6   sex                0 non-null      object
 7   year               0 non-null      int64
 8   mass_kg            0 non-null      float64
dtypes: float64(5), int64(1), object(3)
memory usage: 0.0+ bytes

In [14]:
Torgersen_il = penguins[(penguins['island'] == 'Torgersen ') & (penguins['species'] == 'Gentoo')]

Torgersen_il.info()

Insight : As we can see at the results above Biscoe is the only island that have Gentoo specie.

<h1>Q3</h1>

<h3>Which gender has the highest body mass?</h3>

In [15]:
penguins['sex'].value_counts()

sex
male      168
female    165
Name: count, dtype: int64

In [16]:
penguins.groupby('sex')['body_mass_g'].mean()

sex
female    3862.272727
male      4545.684524
Name: body_mass_g, dtype: float64

Insights : we can see that male penguins has the highest body mass

<h1>Q4</h1>

<h3>what is the highest bill depth in Adelie specie?</h3>

In [17]:
adelie_penguins = penguins[penguins['species'] == 'Adelie']

In [18]:
adelie_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009,3.5
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009,3.4
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009,3.8
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009,3.7
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

In [19]:
adelie_penguins['bill_depth_mm'].max()

np.float64(21.5)

Insights : Among all the Adelie specie 21.5 is the highest bill depth recorded

<h1>Q5</h1>

<h3>In the year 2007-2009 how many of the chinstrap species weight is below 3000g?</h3>

In [22]:
Year = penguins[(penguins['year'] >= 2007) & (penguins['year'] <= 2009)]
Chinstrap_specie = Year[Year['species'] == 'Chinstrap']
light_chinstrap = Chinstrap_specie[Chinstrap_specie['body_mass_g'] < 3000]

light_chinstrap

Insights : In the year 2007-2009 2 Chinstrap penguins weigh below 3000g

<h1>Q6</h1>

<h3>which specie has the longest bill length?</h3>

In [36]:
penguins['bill_length_mm'].max()

np.float64(59.6)

In [37]:
penguins[penguins['bill_length_mm'] == 59.6]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007,6.0

Insight : as we can see the Gentoo specie no.185 has the longest bill length among all the penguins specie

<h1>Q7</h1>

<h3>how many Adelie species are found in Dream Island that flipper length is above 200?</h3>

In [57]:
Adelie_flipper= penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream') & (penguins['flipper_length_mm'] > 200)]

In [58]:
Adelie_flipper

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
90,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008,3.6
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008,4.3
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008,4.3
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

Insights : we can see in the result above that 4 Adelie species in dream island that has a flipper length above 200